import(tcltk, sp)

importMethodsFrom(rgeos, union, setdiff, intersect)
importClassesFrom(rgeos, gpc.poly)

export(AddAxis,
       Autocrop,
       AutocropRegion,
       BuildHistogram,
       BuildPackage,
       CheckEntry,
       ChooseColor,
       ChoosePch,
       CutoutPolygon,
       Data,
       EditData,
       EditFunction,
       EditText,
       EvalFunction,
       ExportData,
       Format,
       FormatDateTime,
       GetBitmapImage,
       GetFile,
       ImportData,
       ImportPackageData,
       LoadPackages,
       ManageVariables,
       ManagePolygons,
       OpenRSurvey,
       Plot2d,
       Plot3d,
       POSIXct2Character,
       ProcessData,
       Rename,
       RestoreSession,
       Search,
       SetAxesLimits,
       SetConfiguration,
       SetInterpolation,
       SetPolygonLimits,
       SetSortOrder)
