
export(Autocrop)
export(AutocropRegion)
export(BuildHistogram)
export(CheckEntry)
export(ChooseColor)
export(ChoosePch)
export(Data)
export(DefineInterpGrid)
export(EditData)
export(EditFunction)
export(EditText)
export(EvalFunction)
export(ExportData)
export(Format)
export(FormatDateTime)
export(GetBitmapImage)
export(GetFile)
export(ImportPackage)
export(ImportSpreadsheet)
export(ImportText)
export(LoadPackages)
export(ManageVariables)
export(ManagePolygons)
export(Plot3d)
export(ProgressBar)
export(Rename)
export(RestoreSession)
export(Search)
export(SetAxesLimits)
export(SetConfiguration)
export(SetCrs)
export(SetPolygonLimits)
export(SetProgressBar)
export(SetSortOrder)
export(StartGui)

import(tcltk)
import(sp)
import(rgdal)

importFrom(colorspace,choose_palette)
importFrom(colorspace,rainbow_hcl)
importFrom(colorspace,diverge_hcl)

importFrom(grDevices,chull)
importFrom(grDevices,col2rgb)
importFrom(grDevices,colorRampPalette)
importFrom(grDevices,dev.cur)
importFrom(grDevices,dev.list)
importFrom(grDevices,dev.new)
importFrom(grDevices,dev.off)
importFrom(grDevices,extendrange)
importFrom(grDevices,graphics.off)
importFrom(grDevices,gray.colors)
importFrom(grDevices,hsv)
importFrom(grDevices,postscript)
importFrom(grDevices,rainbow)
importFrom(grDevices,rgb2hsv)
importFrom(grDevices,savePlot)
importFrom(grDevices,terrain.colors)

importFrom(graphics,.filled.contour)
importFrom(graphics,arrows)
importFrom(graphics,axTicks)
importFrom(graphics,axis)
importFrom(graphics,axis.POSIXct)
importFrom(graphics,box)
importFrom(graphics,contour)
importFrom(graphics,grid)
importFrom(graphics,hist)
importFrom(graphics,image)
importFrom(graphics,layout)
importFrom(graphics,lcm)
importFrom(graphics,lines)
importFrom(graphics,locator)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(graphics,plot.new)
importFrom(graphics,plot.window)
importFrom(graphics,points)
importFrom(graphics,rect)
importFrom(graphics,rug)
importFrom(graphics,title)

importFrom(methods,as)
importFrom(methods,slot)

importFrom(raster,raster)

importFrom(stats,density)
importFrom(stats,na.omit)
importFrom(stats,reshape)

importFrom(utils,available.packages)
importFrom(utils,browseURL)
importFrom(utils,capture.output)
importFrom(utils,contrib.url)
importFrom(utils,data)
importFrom(utils,getCRANmirrors)
importFrom(utils,head)
importFrom(utils,help)
importFrom(utils,install.packages)
importFrom(utils,read.table)
importFrom(utils,sessionInfo)
importFrom(utils,str)
importFrom(utils,tail)
importFrom(utils,type.convert)
importFrom(utils,unzip)
importFrom(utils,write.table)

importMethodsFrom(rgeos,union)
importMethodsFrom(rgeos,setdiff)
importMethodsFrom(rgeos,intersect)

importClassesFrom(rgeos,gpc.poly)
