importFrom(sp, point.in.polygon)
importFrom(MBA, mba.points)
importFrom(rgl, surface3d, points3d)
importFrom(rgeos, read.polyfile, write.polyfile, get.pts, get.bbox, area.poly,
           union, setdiff, intersect)
importClassesFrom(rgeos, gpc.poly)
importFrom(colorspace, rainbow_hcl, polarLUV, choose_palette)

export(AddAxis,
       Autocrop,
       AutocropRegion,
       BuildHistogram,
       BuildPackage,
       CheckEntry,
       ChooseColor,
       ChoosePch,
       CutoutPolygon,
       Data,
       EditData,
       EditFunction,
       EditText,
       EvalFunction,
       ExportData,
       Format,
       FormatDateTime,
       GetBitmapImage,
       GetFile,
       ImportData,
       ImportPackageData,
       LoadPackages,
       ManageVariables,
       ManagePolygons,
       OpenRSurvey,
       Plot2d,
       Plot3d,
       POSIXct2Character,
       ProcessData,
       Rename,
       RestoreSession,
       Search,
       SetAxesLimits,
       SetConfiguration,
       SetPolygonLimits,
       SetPreferences,
       SummarizeVariable)
